<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>笔记列表</title>
</head>
<body>
<div>
    {{request.session.username}}的笔记
    <a href="/note/add">添加笔记</a>
    <a href="/user/logout">退出</a>
</div>
<div>
    <table border="1">
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Content</td>
            <td>create_time</td>
            <td>update_time</td>
        </tr>
        {%for note in allnote%}
        <tr>
            <td>{{note.id}}</td>
            <td>{{note.title}}</td>
            <td>{{note.content}}</td>
            <td>{{note.create_time}}</td>
            <td>{{note.update_time}}</td>
        </tr>
        {%endfor%}
    </table>
</div>

</body>
</html>